---
layout: splash
author_profile: true

---

<figure>
    <a href="{{ site.baseurl }}/event/bspr-meeting-2018"><img src="{{ site.baseurl }}/assets/images/bspr2018v1.jpg" alt="this is a placeholder image"></a>

</figure>



<span>The objectives of the British Society for Proteome Research (BSPR) are to advance the science of proteomics and to promote the study and research work in this and related areas for the benefit of all.</span>


<div class="feature__wrapper">

    <div class="feature__item">
        <div class="archive__item">

            <!--<div class="archive__item-teaser">-->
                <!--<img src="/bspr/assets/images/mm-feature.png" alt="customizable">-->
            <!--</div>-->
            <div class="archive__item-body">

                <h2 class="archive__item-title">BSPR Events</h2>
                <div class="archive__item-excerpt">
                    <p>
                        {% for post in site.categories.Events limit:3 %}
                         <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </p>
                </div>
                <p><a href="{{site.baseurl}}/events" class="btn btn--primary">More</a></p>

                <!--*****-->
                <h2 class="archive__item-title">Proteomics Events</h2>
                <div class="archive__item-excerpt">
                    <p>
                      {% include tess.html %}
                    </p>

                </div>
                <p><a href="{{site.baseurl}}/tessviewer/" class="btn btn--primary">More</a></p>
                <!--*******-->



            </div>
        </div>
    </div>

    <div class="feature__item">
        <div class="archive__item">

            <!--<div class="archive__item-teaser">-->
                <!--<img src="/bspr/assets/images/mm-feature.png" alt="fully responsive">-->
            <!--</div>-->

            <div class="archive__item-body">
                <h2 class="archive__item-title">BSPR News</h2>
                <div class="archive__item-excerpt">
                    <p>
                        {% for post in site.categories.News limit:5 %}
                          <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </p>

                </div>
                <p><a href="{{site.baseurl}}/news" class="btn btn--primary">More</a></p>


                <!--*****-->
                <h2 class="archive__item-title">BSPR Newsletters</h2>
                <div class="archive__item-excerpt">
                    <p>
                {% for post in site.categories.Newsletters limit:5 %}
                <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
                    </p>

                </div>
                <p><a href="{{site.baseurl}}/newsletters" class="btn btn--primary">More</a></p>
                <!--*********-->


            </div>
        </div>
    </div>

    <div class="feature__item">
        <div class="archive__item">
            <!--<div class="archive__item-teaser">-->
                <!--<img src="/bspr/assets/images/mm-feature.png" alt="100% free">-->

            <!--</div>-->
            <div class="archive__item-body">
                <!--<h2 class="archive__item-title">BSPR Newsletters</h2>-->
                <div class="archive__item-excerpt">
                    <p>

                        {% include twitter.html %}
                    </p>

                </div>
                <!--<p><a href="/bspr/newsletters" class="btn btn--primary">More</a></p>-->
            </div>
        </div>
    </div>
</div>
