---
layout: splash
author_profile: true

---

<!--banner picture here-->
<!--<figure>
    <a href="https://www2.bioch.ox.ac.uk/bspr2020/">
        <img src="{{ site.baseurl }}/assets/images/BSPR_banner_2020.png" alt="this is a placeholder image">
    </a>
</figure>-->

<span>The objectives of the British Society for Proteome Research (BSPR) are to advance the science of proteomics and to promote the study and research work in this and related areas for the benefit of all.</span>

<h1 class="archive__item-title">Announcing BSPR Interact 2021</h1>
<div class="archive__item-excerpt">
        <span style="font-size: 20px">
            BSPR Interact 2021 will be held virtually on the 6th, 7th and 8th July.<br>
            For more information, visit <a href="https://www.bspr-interact.com/" target="_blank">bspr-interact.com</a><br>
        </span>
</div>

<h1 class="archive__item-title"><a href="{{site.baseurl}}/proteomics/map">BSPR Proteomic Map</a></h1>
<div class="archive__item-excerpt">
        <span style="font-size: 20px">
            The map displays proteomic research and service groups in industry and academia. Please use this map to find collaborators, expertise, or take a look at the current research.
        </span>
</div>

<div class="feature__wrapper">

    <div class="feature__item">
        <div class="archive__item">

            <!--<div class="archive__item-teaser">-->
            <!--<img src="/bspr/assets/images/mm-feature.png" alt="customizable">-->
            <!--</div>-->
            <div class="archive__item-body">

                <h2 class="archive__item-title">BSPR Events</h2>
                <div class="archive__item-excerpt">
                    <p>
                        {% for post in site.categories.Events limit:3 %}
                    <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                    </p>
                </div>
                <p><a href="{{site.baseurl}}/events" class="btn btn--primary">More</a></p>

                <!--*****-->
                <h2 class="archive__item-title">Proteomics Events</h2>
                <div class="archive__item-excerpt">
                    <p>
                        {% include tess.html %}
                    </p>

                </div>
                <p><a href="{{site.baseurl}}/tessviewer/" class="btn btn--primary">More</a></p>
                <!--*******-->

            </div>
        </div>
    </div>

    <div class="feature__item">
        <div class="archive__item">

            <!--<div class="archive__item-teaser">-->
            <!--<img src="/bspr/assets/images/mm-feature.png" alt="fully responsive">-->
            <!--</div>-->

            <div class="archive__item-body">

                <!--<h2 class="archive__item-title">BSPR Proteomic Map</h2>-->
                <!--<div class="archive__item-excerpt">-->
                <!--<p>-->
                <!--The map displays proteomic research and service groups in industry and academia. Please use this map to find collaborators, expertise, or take a look at the current research.-->
                <!--</p>-->

                <!--</div>-->
                <!--<p><a href="{{site.baseurl}}/proteomics/map" class="btn btn&#45;&#45;primary">More</a></p>-->


                <h2 class="archive__item-title">BSPR News</h2>
                <div class="archive__item-excerpt">
                    <p>
                        {% for post in site.categories.News limit:5 %}
                    <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                    </p>

                </div>
                <p><a href="{{site.baseurl}}/news" class="btn btn--primary">More</a></p>


                <!--*****-->
                <h2 class="archive__item-title">BSPR Newsletters</h2>
                <div class="archive__item-excerpt">
                    <p>
                        {% for post in site.categories.Newsletters limit:5 %}
                    <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                    </p>

                </div>
                <p><a href="{{site.baseurl}}/newsletters" class="btn btn--primary">More</a></p>
                <!--*********-->


            </div>
        </div>
    </div>

    <div class="feature__item">
        <div class="archive__item">
            <div class="archive__item-body">
                <!--<h2 class="archive__item-title">BSPR Newsletters</h2>-->
                <div class="archive__item-excerpt">
                    <p>

                        {% include twitter.html %}
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>




